.wrapper {
    float: none;
    width: 1440px;
}

.row .col {
    float: none;
}

.row .col .s12 {
    float: none;
}

#friendpic {
    width: 450px;
    height: 300px;
}

#surveyTitle {
    font-size: 16px;
}